<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline.css" />
    <link rel="stylesheet" href="bower_components/angular-notify/dist/angular-notify.css" />
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!--<script src="https://apis.google.com/js/platform.js"></script>-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css" />

    <!-- endbuild -->
  </head>
  <body ng-app="clientApp" class="">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                 <a href="https://in.linkedin.com/pub/gaurav-pathak/23/422/290" class="navbar-brand pull-left" style="text-decoration:none;" target="_blank"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Gaurav Pathak's LinkedIn profile" style="vertical-align:middle;" border="0"></span></a>
                 <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="">gp</span>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Me</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#summary">Tech Stack</a>
                    </li>
                    <li>
                        <a class="" ng-href="#/projects">Open Source</a>
                    </li>
                    <li>
                        <a class="" ng-href="#/posts">Writing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro"  ng-if="showHeader">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Developer</h1>
                        <p class="intro-text">Trying to bring out the best in me</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <section id="about" class="container content-section text-center" ng-if="showHeader">
        <div class="row">
            <div class="col-lg-12">
                <h2>I love coding</h2>
                <p class="text-justify">I have been a software developer for many years and worked on a lot of interesting and some not so interesting projects for my employers which included Wipro Technologies, Sungard and ThoughtWorks. I am a big fan of open source, I always enjoy contributing to <a ng-href="#/projects">open source</a>. When I am able to drag myself out of the comfort zone of excuses, I <a ng-href="#/posts">write</a> on some interesting stuff.</p>
            </div>
        </div>
    </section>

    <section id="summary" class="container content-section text-center" ng-if="showHeader" ng-controller="MainCtrl">
        <div class="row">
            <div class="col-lg-12">
                <h2>Tech stack/architectures worked on so far :</h2>
                <timeline>
                  <timeline-event ng-repeat="event in events" side="{{event.side}}">
                    <timeline-badge class="{{event.badgeClass}}">
                      <i class="glyphicon {{event.badgeIconClass}}"></i>
                    </timeline-badge>
                    <timeline-panel class="{{event.badgeClass}}">
                      <timeline-heading>
                        <h4><p>{{event.title}}</p></h4>
                      </timeline-heading>
                      <p class="text-justify">{{event.content}}</p>
                    </timeline-panel>
                  </timeline-event>
                </timeline>
            </div>
        </div>
    </section>


    <div class="container">
      <div ng-view=""></div>
    </div>

    <!-- Footer -->
    <!--<footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </footer>-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-timeline/dist/angular-timeline.js"></script>
    <script src="bower_components/angular-notify/dist/angular-notify.js"></script>
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="bower_components/ngSweetAlert/SweetAlert.js"></script>
    <!-- endbower -->
    <script src="scripts/controllers/jquery.easing.min.js"></script>
    <script src="scripts/controllers/common.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/directives/post-save.js"></script>
    <script src="scripts/directives/project-save.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/posts.js"></script>
    <script src="scripts/controllers/projects.js"></script>
    <script src="scripts/controllers/post-view.js"></script>
    <script src="scripts/controllers/support.js"></script>
    <script src="scripts/controllers/post-create.js"></script>
    <script src="scripts/controllers/post-update.js"></script>
    <script src="scripts/controllers/post-manage.js"></script>
    <script src="scripts/controllers/project-manage.js"></script>
    <script src="scripts/controllers/project-create.js"></script>
    <script src="scripts/controllers/project-update.js"></script>
    <script src="scripts/controllers/post-comment-delete.js"></script>
    
        <!-- endbuild -->
</body>
</html>




