<div class="container post-save">
	<form role="form" class="">
		<div class="form-group">
			<label>{{heading}}</label>
			<textarea class="form-control title-text-area" ng-model="title" placeholder="title..."></textarea>
			<textarea class="form-control intro-text-area" ng-model="intro" placeholder="intro..."></textarea>
			<textarea class="form-control body-text-area" ng-model="body" placeholder="body..."></textarea>
			<button class="btn btn-primary save" ng-click="save()">Save</button>
		</div>
	</form>
</div>