<div class="container post-comment-delete">
	<h3><strong>{{post.title}}</strong></h3>
	<label>Comments:</label>
	<ul class="list-group">
		<li ng-repeat="comment in postComments" class="list-group-item liWithMarginAndPadding well-lg">
				<span class="comment-by">{{comment.createdBy}}</span>
				<span class="comment-when" am-time-ago="comment.createdOn"></span>
				<a ng-click="delete(comment)"><span class="glyphicon glyphicon-remove pull-right remove"></span></a>
				<p>{{comment.body}}</p>
		</li>
	</ul>
</div>